
.button {float:right;
padding:5px;
background-color:red;
border:5px solid black;
color:violet;
font-family:cursive;}

.link {padding:5px;
background-color:violet;
border:5px solid black;
color:red;
font-family:cursive;}

p {font-family:cursive; color:white;}



body {background-color:black;}

textarea {height:50%; width:100%;}

